h2, h4 {
    font-family: Arial;
    font-size: 200%;
}

#a2 {
    font-family: Arial;
    font-size: 300%;
    color:red;
}
#cover {
    display: block;
    margin: auto;
}

#Tutorials {
    font-family: Arial;
    font-size: 200%;
}

nav {
  font-family: 'Orbitron';
  background-color: black;
  color: white;
}

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

#background {
  background-color: aqua;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: black;
  color: white;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.links {
  display: flex;
  justify-content: flex-start;

}

.links li {
  list-style-type: none;
}

.links a {
  display: block;
  padding: 10px;
  color: white;
}

.right-link a {
  color: white;
}


@media (max-width:600px) {
.nav-container{
flex-direction: column;
}
.links{
flex-direction: column;
}
}

.brand a, .links a, .right-link a {
  color: white;
  text-decoration: none;
}

nav a {
  font-size: 25px;
}

.nav-container {
  justify-content: space-between;
}

