h1, h3{
    text-align: center;
    font-family: Arial;
}

html {
    background-color: aqua;
    align-content: center;
}

h2, h4 {
    font-family: Arial;
    font-size: 200%;
}

a {
    font-size: 300%;
    color:red;
}
#cover {
    display: block;
    margin: auto;
}